<main class="TodoPage-main">
    <h1 class="TodoPage-title">Welcome to my todo application</h1>
    <h1 class="TodoSection-title">If you are a new user, click here to <a href="/users/new">Sign up</a></h1>
</main>
