  <main class="TodoPage-main">
    <h1 class="TodoPage-title">My Todo-List</h1>
    <article>

      <section class="TodoPage-section TodoPage-input">
        <input type="text" class="TodoInput" placeholder="What's next?" />
        <input type="date" class="TodoInput" />
        <button class="TodoAddBtn">Add</button>
      </section>
      <%= render partial: "todo-section", locals: {
        section_title: "Overdue",
        todos: Todo.overdue,
        show_due_date: true
      } %>
      <%= render partial: "todo-section", locals: {
        section_title: "Due Today",
        todos: Todo.due_today,
        show_due_date: false
      } %>
      <%= render partial: "todo-section", locals: {
        section_title: "Due Later",
        todos: Todo.due_later,
        show_due_date: true
      } %>

    </article>
  </main>
